@import url(vendor/normalize.css);
@import url(vendor/fonts.css);

.page {
    background-color: #000;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    padding: 0 19px;
    position: relative;
}

.header {
    max-width: 880px;
    margin: 45px auto 41px;
}

.logo {
    background-image: url(./images/logo.svg);
    width: 142px;
    height: 33px;
}

.main {
    max-width: 880px;
    margin: 0 auto;
    border-top: 1px solid #545454;
    padding: 40px 0 0;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person {
    display: flex;
    align-items: center;
}

.person__first-row {
    display: flex;
    position: relative;
}

.person__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

.person__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
}

.person__edit-button {
    position: absolute;
    border: none;
    background-color: transparent;
    background-image: url(./images/edit-button.svg);
    width: 24px;
    height: 24px;
    right: -42px;
    top: 16px;
    cursor: pointer;
}

.person__description {
    width: 100%;
    margin: 16px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}

.add-button {
    border: none;
    background-color: transparent;
    background-image: url(./images/add-button.svg);
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.cards {
    margin: 50px 0 66px;
    display: grid;
    gap: 20px 17px;
    grid-template-columns: repeat(auto-fit, minmax(282px, auto));
    justify-content: center;
}

.card {
    width: 282px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.card__image {
    display: block;
}

.card__info {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 25px 15px 31px 21px;
    align-items: center;
}

.card__title {
    color: #000;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
}

.like {
    border: none;
    background-color: transparent;
    background-image: url(./images/like.svg);
    width: 22px;
    height: 19px;
    cursor: pointer;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.like:hover {
    opacity: 0.5;
}

.like_value_active {
    background-image: url(./images/like-black.svg);
}

.like_value_active:hover {
    opacity: 1;
}

.footer {
    max-width: 880px;
    margin: 0 auto 60px;
    padding: 0;
}

.copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #545454;
    margin: 0;
}


@media screen and (max-width: 720px) {
    .page {
        padding: 0;
    }

    .header {
        padding: 0 19px;
    }

    .logo {
        margin-left: 8px;
        width: 103.74px;
        height: 24.4px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .main {
        padding: 40px 19px 0;
    }

    .profile {
        flex-direction: column;
    }

    .person {
        flex-direction: column;
        text-align: center;
    }

    .person__avatar {
        margin: 0 0 26px; 
    }

    .person__name {
        font-size: 27px;
        line-height: 1.21;  
    }

    .person__edit-button {
        top: 3px;
    }

    .person__description {
        font-size: 14px;
        line-height: 1.21;     
    }

    .add-button {
        margin-top: 36px;
        width: 282px;
        background-image: url(./images/add-button-large.svg);
    }

    .cards {
        margin: 36px 0 48px;
    }

    .copyright {
        font-size: 14px;
        line-height: 1.21;    
    }

    .footer {
        padding: 0 19px;
    }

}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none; /*скрывает попап*/
}

.popup__container {
    position: relative;
    background-color: #fff;
    width: 430px;
    height: 330px;
    display: flex;
    justify-items: center;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    border-radius: 10px;
}

.popup__cross {
    background-image: url(./images/close-icon.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

.form-edit {
    border: none;
    margin: 0;
    padding: 0;
}

.popup__title {
    margin: 0 0 54px;
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
}

.popup__name {
    margin-bottom: 30px;
}

.popup__input {
    width: 100%;
    height: 27px;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.popup__button {
    width: 100%;
    padding: 14px 0 18px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    margin-top: 48px;
    cursor: pointer;
}

@media screen and (max-width: 580px) {

    .popup__container {
        margin: 0 19px;
        width: 282px;
        height: 322px;
        padding: 25px 22px;
    }

    .popup__cross {
        width: 20px;
        height: 20px;
        background-size: contain;
        right: 0;
        top: -36px;
    }

    .popup__title {
        font-size: 18px;
        margin-bottom: 75px;
    }

    .popup__button {
        margin-top: 45px;
    }
}