.person__name {
    max-width: 315px;
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
}

@media screen and (max-width: 720px) {
    .person__name {
        font-size: 27px;
        line-height: 1.21;
        max-width: 195px;
    }
}